.ArrowBox {
    position      : relative;
    background    : white;
    border        : 1px solid #bfbfbf;
    border-radius : 8px;
    height        : min-content;
}

.ArrowBox:after, .ArrowBox:before {
    border         : solid transparent;
    content        : " ";
    height         : 0;
    width          : 0;
    position       : absolute;
    pointer-events : none;
}

.ArrowBox:after {
    border-color : rgba(136, 183, 213, 0);
    border-width : .35rem;
    margin-top   : -4px;
}

.ArrowBox:before {
    border-color : rgba(194, 225, 245, 0);
    border-width : .4rem;
    margin-top   : -5px;
}

.Left {
    align-self  : flex-start;
    margin-left : 1rem;
}

.Left > .ArrowBox:before {
    border-right-color : inherit;
    right              : 100%;
    top                : 1rem;
}

.Left > .ArrowBox:after {
    border-right-color : inherit;
    right              : 100%;
    top                : 1rem;
}

.Right {
    align-self   : flex-end;
    margin-right : 1rem;
}

.Right > .ArrowBox:before {
    border-left-color : inherit;
    left              : 100%;
    top               : 1rem;
}

.Right > .ArrowBox:after {
    border-left-color : inherit;
    left              : 100%;
    top               : 1rem;
}
