.Host {
    align-items: flex-start;
    display    : flex;
    min-height : max-content;
}

.Left {
    align-self  : flex-start;
    margin-left : 1rem;
}

.Right {
    align-self   : flex-end;
    margin-right : 1rem;
}

.Avatar {
    height    : 2.3rem;
    margin-top: .5rem;
    width     : 2.3rem;
}

.TextContent {
    display       : flex;
    flex-direction: column;
}

.TextContent > :first-child {
    font-size: .7rem;
    margin   : .1rem .5rem;
}
