.Host {
    display       : flex;
    flex-direction: column;
    height        : 100%;
    overflow      : scroll;
    padding       : 1rem 0;
}

.Host > *:not(.None) {
    margin-top: .4rem;
}

.None {

}
