.Host {
    font-size   : 1rem;
    margin      : .1rem .5rem;
    height      : min-content;
    max-width   : 20rem;
    white-space : pre-wrap;
    word-wrap   : break-word;
    font-family : Ruda, sans-serif;
}
