.Host {
    display       : flex;
    flex-direction: column;
    height        : 100%;
}

.Host > :first-child {
    flex-grow: 1;
}

.RoomNotFound {
    align-items    : center;
    color          : #666;
    flex-direction : column;
    display        : flex;
    justify-content: center;
}

.RoomNotFound > :first-child {
    font-size: 6rem;
}