.Host {
    align-items     : center;
    background-color: #f0f1f5;
    display         : flex;
    height          : 100vh;
    justify-content : center;
    width           : 100vw;
}

.Host > * {
    background-color: #eee;
    border-radius   : 3px;
    display         : flex;
    flex-direction  : column;
    padding         : 2rem;
}

.Form {
    width: 14rem;
}

.Form > :first-child {
    display       : flex;
    flex-direction: column;
}

.Title {
    align-items    : center;
    display        : inline-flex;
    font-size      : 1.3rem;
    justify-content: center;
    margin-bottom  : 1rem;
}

.Content {
    display: flex;
}
