.Host {
    background-color: #fff;
    display         : flex;
    flex-direction  : column;
    height          : 100vh;
    width           : 100vw;
}

.Header {
    z-index: 2;
}

.Content {
    display: flex;
    height : 100%;
}

.Main {
    flex-grow: 1;
    height   : 100%;
    width    : 100%;
}

@media (max-width : 767px) {
    .Host > .Content {
        flex-direction: column-reverse;
    }
    .Main {
        height: calc(100% - 4rem);
    }
}
