.Host {
    background-color: #f0f1f5;
    display         : flex;
    flex-direction  : column;
    height          : 100vh;
    width           : 100vw;
}

.Host > :first-child {
    z-index: 2;
}

.Host > :nth-child(2) {
    display: flex;
    height : 100%;
}

.Main {
    flex-grow: 1;
    height   : 100%;
    width    : 100%;
}

@media (max-width : 767px) {
    .Host > :nth-child(2) {
        flex-direction: column-reverse;
    }
    .Main {
        height: calc(100% - 4rem);
    }
}
